<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://thymeleaf.org/"
        layout:decorate="~{layout}">

<div layout:fragment="content">
    <div>
        <label>번호</label>
        <div th:text="${post.id}"></div>
    </div>
    <div>
        <label>제목</label>
        <div th:text="${post.subject}"></div>
    </div>
    <div>
        <label>작성날짜</label>
        <div th:text="${#temporals.format(post.createDate, 'yyyy-MM-dd HH:mm')}"></div>
    </div>
    <div>
        <label>수정날짜</label>
        <div th:text="${#temporals.format(post.updateDate, 'yyyy-MM-dd HH:mm')}"></div>
    </div>
    <div>
        <label>내용</label>
        <div style="display: none" id="hiddenContent" th:text="${post.content}"></div>
        <div id="viewer"></div>
    </div>
    <div>
        <label>해시태그</label>
        <div th:text="${postHashTags}"></div>
    </div>
</div>

<script layout:fragment="script" type='text/javascript' th:inline="javascript">
    const Editor = toastui.Editor;
    const viewer = Editor.factory({
        el: document.querySelector('#viewer'),
        viewer: true,
        height: 'auto',
        initialEditType: 'markdown',
        initialValue: document.getElementById("hiddenContent").innerText
    });

    // const delete_elements = document.getElementsByClassName("delete");
    // Array.from(delete_elements).forEach(function(element) {
    //     element.addEventListener('click', function() {
    //         if(confirm("정말로 삭제하시겠습니까?")) {
    //             location.href = this.dataset.uri;
    //         };
    //     });
    // });

</script>
</html>