<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/html">

<body>
<th:block th:fragment="orderListItem">
    <div class="card bg-base-100 shadow-xl">
        <span th:text="|주문 번호 : ${order.id}|"></span>
        <span th:text="|주문명 : ${order.name}|"></span>
        <div class="badge badge-primary"
             th:text="|생성날짜 : ${#temporals.format(order.createDate, 'yy-MM-dd HH:mm')}|"></div>

        <a th:if="${@orderService.actorCanRemove(@rq.member, order)}" href="javascript:;"
           onclick="if ( confirm('정말로 삭제하시겠습니까?') ) $(this).next().submit();"
           class="btn btn-secondary btn-sm btn-outline">
            <i class="fa-solid fa-trash"></i>
            <span class="ml-1">삭제</span>
        </a>
        <form th:action="@{|/order/${order.id}/cancel|}" method="post" hidden></form>

        <form id="cancelItemForm" th:action="@{|/order/${order.id}/cancel|}" method="post" hidden></form>
        <a th:href="@{|/order/${order.id}|}" class="btn btn-sm btn-secondary">상세주문</a>
    </div>
</th:block>
</body>

</html>
