<!DOCTYPE html>
<html layout:decorate="~{/adm/layout/layout}">

<head>
    <title>정산 데이터 폼 생성</title>
</head>

<main layout:fragment="main">
    <div class="container mx-auto flex-grow flex items-center justify-center">
        <h1>정산 데이터 폼 생성</h1>
        <form th:action="@{|/adm/rebate/makeData|}" method="POST">
            <div>
                <input type="month" name="yearMonth">
                <div>
                    <button class="btn btn-primary" type="submit">
                        <i class="fa-solid fa-pen"></i>
                        <span class="ml-1">생성</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</main>

</html>