<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!doctype html>
      <html lang="ko">

      <head>
      <meta charset="utf-8">
  <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
</head>

<body>

<main>

  <!-- Main Headerbar -->
  <header th:replace="header :: headerFragment"></header>

  <!-- Main Content -->
  <th:block layout:fragment="content"></th:block>

  <footer th:replace="footer :: footerFragment"></footer>
</main>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>

<th:block layout:fragment="script"></th:block>

</body>
</html>