<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://thymeleaf.org/"
        layout:decorate="~{layout}">

<div layout:fragment="content">
    <form th:action="@{|/member/findUsername|}" method="post">

        <div>
            <label>이메일</label>
            <input type="email" name="email" placeholder="이메일을 입력해주세요." required>
        </div>

        <div>
            <button type="submit">
                아이디찾기
            </button>
        </div>
    </form>
</div>
</html>