<html xmlns:th="http://thymeleaf.org">
<body>

<form th:action="@{|/member/modifyPassword|}" th:object="${MemberPasswordModifyForm}" method="post">

    <div>
        <label>이전 비밀번호</label>
        <input type="password" name="oldPassword" placeholder="비밀번호를 입력해주세요." required />
    </div>
    <div>
        <label>새 비밀번호</label>
        <input type="password" name="password" placeholder="비밀번호를 입력해주세요." required />
    </div>
    <div>
        <label>새 비밀번호 확인</label>
        <input type="password" name="passwordConfirm" placeholder="비밀번호를 입력해주세요." required />
    </div>

    <div>
        <button type="submit">
            수정하기
        </button>
    </div>
</form>
</body>
</html>